body {
    font-family: Quicksand;
}

button {
    border: 0;
    background: none;
    box-shadow: none;
}

.hero {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 88.5px 316.5px 108px 109.5px;
    color: #ffffff;
}

.hero button {
    /* margin: 12.5px 208.5px 0 2px; */
    padding: 12px 31px;
    border-radius: 4px;
    background-color: #de6c17;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
}

.hero-aspect {
    height: 0;
    overflow: hidden;
    padding-top: 41.66667%;
    background-image: url('assets/main-banner.png');
    background-size: contain;
    position: relative;
}

.hero-title {
    margin: 0 93px 5px 0;
    font-size: 45px;
    font-weight: 700;
}

.hero-subtitle {
    width: 48%;
    font-size: 24px;
    font-weight: 500;
}

.hero-wave {
    bottom: -5px;
    position: absolute;
    width: 100%;
}

.main-column {
    max-width: 1080px;
    margin: auto;
}

.heading {
    width: 680px;
    margin: auto;
}

h1 {
    font-size: 45px;
    font-weight: 700;
    color: #36413C;
    text-align: center;
}

h2 {
    font-size: 28px;
    font-weight: 700;
    color: #36413C;
}

.tagline {
    font-size: 24px;
    font-weight: 500;
    color: #5E6E66;
    text-align: center;
}

.services {
    display: flex;
    margin-bottom: 80px;
}

.service-card {
    flex: 1;
    padding: 0px 32px;
}

.service-card img {
    max-width: 296px;
}

.card-inner {
    border: 2px solid #e3e3e3;
    border-radius: 8px;
}

.card-detail {
    padding: 0px 33px 39px;
}

.card-detail p {
    font-size: 18px;
    font-weight: 500;
    color: #5E6E66;
}

.card-detail a {
    font-size: 18px;
    font-weight: 700;
    color: #DE6C17;
}

.card-detail a:after {
    content: ' >';
}